/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018.11.24., 19:31:38
    Author     : user
*/
/* site main elements*/

body{

    height: 800px;
    background-color: whitesmoke;
    margin: auto;
}
.menu{
    float: left;
    height: 100%;
    width: 250px;
    background-color: #8c92ac;
}
.tartalom{
    float: right;
    height: 100%;
    width: 1000px;
    overflow: auto;
    background-color: whitesmoke;
}
main{
    float: left;
    height: 800px;
    margin: 0px auto;

}
footer{
    background-color: #222;
    width: 1250px;
    height: 50px;
    text-align: center;
    color: #8c92ac;
    float: left;
}

.wd-1250{
    background-color: #ecd9c6;
    float: none;
    
}