/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019.03.03., 7:03:05
    Author     : solyo
*/

:root{
--red: #c09292;
--black: #4E4F4A;
--cream: #F6E9DC;
--thin-border: 2px solid var(--red);
--rozsaszin: #F9F9FB;
--bordo:#633c3d/*9d6264*/;
--sotetvalami:#506c8b;
--szurke:#8c92ac;
--menu: #F9F9FB/*#C4AE78/*edeade*/;
--tooltipback: #555;
--tooltipcolor: #fff;
--narancs:#9d5264;
--lightnarancs: #639cbb;
--piros: #f1d7b2;
--borszin: #feeacb;
--sotetvalami2: #503D36;
--bordo2:#7c4c04;
--darknarancs: #9d5264;
--lila: #8e64a1;
--arnyek1: rgba(254, 234, 203, 0.14);
--arnyek2: rgba(254, 234, 203, 0.2);
--arnyek3: rgba(254, 234, 203, 0.12);
--ren_lis_back:  #8c92ac;
--valami: #FFFFF5;
--headerhatter:#506c8b;
--lapozobutton_alap:#ffffe6;
--lapozobutton_keret:#66ccff;
--lapozobutton_text:#0066ff;
-lapozobutton_hover:#9d5264;
}
